body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: bisque;
}

p{
    background-image: linear-gradient(45deg, rgb(252, 174, 78), bisque);
}

video{
    border:solid;
    border-width: 0.5cm;
    border-color:lightgreen;
}

button{
 background: none;
 border: none;
 cursor:pointer;
}
.navegador{
    text-align: center;
    margin-left: 5%;
    margin-bottom: 20px;
}
.navegador a {
    text-decoration: double;
    background-color: #48a080;
    padding: 4px;
    margin: 10px;
    color: white;
    border-radius: 5px;
}

h4{
    writing-mode: vertical-rl;
}

.elpatacas{
    justify-content: space-between;
    display: flex;
    align-items: center;
}